
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  /* background:#E4E2D6; */
}

/* Nav bar Section */
.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  background-color: #e4e2d6;
}

.logo-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-mobile img {
  width: 60px;
}

.logo-mobile h2 {
  font-size: 24px;
  font-weight: 700;
}

/* Hamburger Icon */
.hamburger {
  display:flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 100px;
  gap: 5px;
  z-index: 1001;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #222;
  border-radius: 3px;
  transition: 0.3s ease;
}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
  background: #fff;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
  background: #fff;
}

/* Desktop logo - hide on mobile */
.desktop-logo {
  display: flex;
}

/* Nav bar Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 2px 4px;
  background-color: #e4e2d6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 80px;
}

.logo h2 {
  font-size: 30px;
  font-weight: 700;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav_links a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav_links a:hover {
  color: #2e2e2e;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}


/* Hero Section */
.hero {
  height: 80vh;
  background: url("Assests/home_hero_img.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.hero_content {
  position: relative;
  text-align: center;
  color: #e4e2d6;
  z-index: 1;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: left;
}

.search-box {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.input-wrapper {
  position: relative;
  width: 70%;
}

.input-wrapper i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.input-wrapper input {
  width: 80%;
  padding: 14px 14px 14px 40px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  transition: 0.4s;
}
.input-wrapper input:hover {
  background: #b6b5b1;
  transform: translateY(-5px);
  box-shadow: #ffad66;
}

.search-box button {
  width: 30%;
  padding: 14px;
  border: none;
  background: #ff6b00;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: 0.4s;
}

.search-box button:hover {
  background: #e4e2d6;
  color: #453f3c;
  transform: translateY(-5px);
}

/* Grid Css */

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  margin: 20px;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
/* card  */
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(66, 66, 66, 0.267);
  backdrop-filter: blur(12px);
  border: 1px solid black;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 60px rgba(97, 96, 87, 0.3);
}

.to-buy:hover,
.to-sell:hover,
.to-rent:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 60px rgba(97, 96, 87, 0.3);
  background-color: #504f4fb6;
  color: #fff;
}

/* -------------carousel image css--------------------------- */
.collection {
  overflow: hidden;
  padding: 10px;
}

.carousel_track {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease;
}

.property_card {
  flex: 0 0 calc((100% - 20px) / 2);
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.img_wrap {
  position: relative;
}

.property_card img{
width:100%;
height:180px;
object-fit:cover;
}

/* hidden details */

.property_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.35);
  color: white;

  transform: translateY(50%);
  transition: 0.4s;
}

/* show on hover */

.property_card:hover .property_info {
  transform: translateY(0);
}

.price {
  color: #ffcb20;
  font-weight: bold;
}

.ratings {
  color: #ffc936;
  margin-top: 60px;
}
.carousel_prev,
.carousel_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  z-index: 5;
}

.carousel_prev {
  left: 5px;
}

.carousel_next {
  right: 5px;
}

.card input {
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  justify-content: center;
  transition: 0.4s;
}

.card input:hover {
  transform: translateY(-4px);
}

.card .btn_ {
  width: 90%;
  padding: 10px 10px;
  background: gold;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}

.card .btn_:hover {
  background: #ffcc00;
  box-shadow: 0 15px 20px #9a9a9a;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .btn-pro {
  padding: 10px 40px;
  background: none;
  color: black;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover .btn-pro {
  transition: 0.3s ease;
  border-color: snow;
  background: #3333337c;
  color: #e4e2d6;
  box-shadow: 10px 10px 15px #32333663;
}

.to-property {
  width: 30%;
  height: 50%;
  margin-left: 200px;
  margin-top: 15px;
  transition: 0.3s;
}

.card:hover .to-property {
  filter: brightness(0) invert(1);
}

.card p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
}

.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  padding: 20px 20px;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;

  overflow: hidden;
  padding: 10px;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 6;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 6;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 6;
}

/* -----------------------Footer Section Home CSS------------------------- */

.footer_section {
  background: #e4e2d6;
  padding: 10px 20px;
  max-width: 100%;
  height: 60%;
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 60px;
  align-items: start;
}
.footer_left {
  max-width: 250px;
}

.footer_left img {
  width: 90px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.footer_tagline {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 10px;
  line-height: 1.5;
}

.social a {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  color: #555555;
  margin: 15px;
  text-decoration: none;
  transition: 0.3s ease;
}

.social a:hover {
  transform: translateY(-3px);
}

/* =========================Footer section Box========================== */

.footer_box {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.footer_box h3 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 12px;
  color: #464545;
}

.footer_box a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #6b6b6a;
  margin-bottom: 15px;
  font-size: 14px;
  transition: 0.2s ease;
}

.footer_box a:hover {
  color: #111;
  transform: translateX(5px);
}

.footer_copy {
  border-top: 0.5px solid black;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}

.footer_copy p {
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.5px;
}